// custom.styl
body {
    background:url(/images/background.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: cover;
}

.main-inner {
     background: #fff;
     opacity: 1;
}
.content-wrap {
    font-size: .8em;
    min-height: 973px;
}